
/* 
    Created on : 27/01/2016, 04:58:00 PM
    Author     : emanuelcastm
*/

.h1{
  font-family: cursive;
  color: blue;
}

.h2{
  font-family: arial;
  font-style: italic;
  font-weight: normal;
  font-size: 18px;
}
